body {
	margin:0;
	color: #595959;
}


img {
	border:none;
}	


/* center area */
.center-area {
	width: 95%;
	margin: auto;
}

/* Header Area */

.header-area {
	background: #000000;
}

.header-top {
	overflow:hidden;
	padding:20px 0;
}

.logo-area {
	width:50%;
	overflow:hidden;
	float:left;
}
.logo-area img {
	border:none;
}
.tagline {
	width:50%;
	overflow:hidden;
}

.tagline p {
	margin:0;
}


.header-bottom {
	background: #282828;
	padding:15px 0;
	border-radius:10px 10px 0 0;
}
.header-bottom:after {
	content:'';
	display:block;
	clear:both;
}

.main-menu ul {
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
}	
.main-menu ul li {
	display:inline;
	margin-right:25px;
}
.main-menu ul li:last-child {
	margin-right:0;
}
.main-menu ul li a {
	color: #cccccc;
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
}



.main-menu ul li:hover a, .main-menu ul .current a {
	color: #ffff00;
}


/* middle area */

.middle-area {
	background:#282828;
	overflow:hidden;
	padding:30px 0;
	border-top:1px solid #3D3D3D;
	border-bottom:1px solid #3D3D3D;
}

.service-heading h2 {
	margin:0;
}

.service-area {
	background:#171717;
	padding:30px;
	overflow:hidden;
	border-radius:6px;
	margin-bottom:30px;
}
.main-content {
	width:65%;
	float:left;
	overflow:hidden;
	margin-right:5%;
}

.right-sidebar {
	width:30%;
	overflow:hidden;
}


.single-service {
	width:45%;
	float:left;
	overflow:hidden;
	margin-bottom:50px;
	margin-right:10%;
}

.single-service:nth-child(3), .single-service:nth-child(4) {
	margin-bottom:0;
}


.single-service:nth-child(even) {
	margin-right:0;
}
.single-service h2 {
	font-size:22px;
	font-weight:normal;
	color:#4a4a4a;
	text-transform:lowercase;
}
.single-service h2 i {
	height:22px;
	width:22px;
	background:#333333;
	padding:10px;
	border-radius:50%;
	text-align:center;
	margin-right:20px;
	margin-bottom:10px;
}

.single-service p {
	color: #999999;
	margin:0;
}



.portfolio-single {
	width:30%;
	float:left;
	overflow:hidden;	
	border:10px solid #161817;
	box-sizing:border-box;
	margin-right:5%;
}

.portfolio-single:last-child {
	margin-right:0;
}
.portfolio-single img {
	width:100%;
	height:auto;
}



/* right sidebar */

.big-image {
	margin-bottom:20px;
}

.big-image img {
	width:100%;
}


.small-image img{
	width:100%;
}
.small-image a {
	width:48%;
	float:left;
	overflow:hidden;
	margin-right:4%;
	margin-bottom:4%;
}
.small-image a:nth-child(even) {
	margin-right:0;
}




/* footer area */

.footer-area {
	background: #171717;
	overflow:hidden;
}
.footer-top {
	background: #282828;
	font-size:14px;
	padding:20px;
	border-radius:0 0 12px 12px;
	margin-bottom:30px;
	overflow:hidden;
}
.footer-top p {
	margin:0;
}


.footer-widgets {
	overflow:hidden;
	border-bottom:1px solid #3C3C3C;
	padding-bottom:20px;
}

.column {
	width:30%;
	float:left;
	overflow:hidden;
	margin-right:5%;
}
.column:last-child {
	margin-right:0;
}

.copyright {
	width:50%;
	float:left;
	overflow:hidden;
	text-align:left;
}
.powered-by {
	width:50%;
	overflow:hidden;
	text-align:right;
}

.inputs .first-input {
	width:48%;
	float:left;
	overflow:hidden;
	margin-right:4%;
}
.inputs .second-input {
	width:48%;
	overflow:hidden;
}
.inputs label,
.textarea label {
	color:#FFFFFF;
	line-height:30px;
}
.inputs input {
	display:block;
	width:96%;
	color: #666666;
	padding:2%;
}	
.textarea label {
	display:block;
	margin-top:10px;
}
.textarea textarea {
	width:96%;
	margin-bottom:15px;
	padding:2%;
	color: #666666;
}
.submit input {
	color:#666666;
	background:#FFFFFF;
	border:0;
	padding:7px 15px;
	margin-right:10px;
	cursor:pointer;
}

.column h2 {
	font-size:16px;
	font-weight:normal;
	border-bottom:1px solid #595959;
	padding-bottom:10px;
	color: #969696;
}
.column ul li a i {
	font-size:16px;
	height:16px;
	width:16px;
	background:#333333;
	padding:10px;
	border-radius:50%;
	text-align:center;
	margin-right:20px;
	margin-bottom:10px;
}


 .column ul {
	margin:0;
	padding:0;
	list-style:none;
 }	
 .column ul li a {
	color: #969696;
	text-decoration:none;
	line-height: 1.5em;
} 


.column ul li:hover a {
	color:#FFFFFF;
}	





.footer-top p {
	margin-left:50px;
	margin-top:10px;
	
}
.round {
	border:2px solid #3E3E3E;
	display:inline-block;
	padding:5px;
	border-radius:50%;
	float:left;
}	

.triangle {
	height:0;
	width:0;
	border-bottom:10px solid #3E3E3E;
	border-right:10px solid transparent;
	border-left:10px solid transparent;
	display:inline-block;
}

.top {
	float:right;
}

.footer-top a {
	text-decoration:none;
	color:#CCCCCC;
}






@media (max-width:790px) {
	.logo-area {
		width:100%;
	}
	.logo-area img {
		width:320px;
		height:auto;
		margin:auto;
		display:block;
		margin-bottom:30px;
	}
	
	.tagline {
		width:80%;
		margin:auto;
		text-align:center;
	}
	
	
	.main-menu ul li {
		width:33%;
		float:left;
		margin-right:0;
		margin-bottom:15px;
		box-sizing:border-box;
	}	
	
	.main-content {
		margin-right:0;
		width:100%;
		float:none;
		margin-bottom:30px;
	}
	.right-sidebar {
		overflow:hidden;
		width:100%;
		border-top:1px solid #3D3D3D;
		padding-top:20px;
	}
	.big-image {
		float:left;
		overflow:hidden;
		width:40%;
		margin-right:20%;
	}
	.small-image {
		overflow:hidden;
	}	
	
}


@media (max-width:580px) {
	.column {
		width:100%;
		float:none;
	}
}



@media (max-width:360px) {
	.logo-area img {
		display:block;
		width:80%;
		margin:auto;
		height:auto;
		margin-bottom:20px;
	}
	.main-menu ul li {
		float:none;
	}
	.main-menu ul li a {
		display:block;
		margin-bottom:15px;
	}
	
	.single-service {
		width:100%;
		margin-right:0;
		float:none;
	}
	.portfolio-single {
		width:100%;
		margin-right:0;
		float:none;
		margin-bottom:15px;
	}
	.big-image {
		float:none;
		width:100%;
		margin-right:0;
	}
	.small-image {
		overflow:hidden;
	}	
	
	.copyright {
		width:100%;
		float:none;
		text-align:center;
	}
	.powered-by {
		width:100%;
		text-align:center;
	}
}
